{% extends 'base.html' %}

 {% block content %}


  <h1>My To Do List</h1>
  <button><a href="{% url 'todolist:create-task' %}">Tambah Task Baru</a></button>
  <br>
  <h3>Username: </h3>
  <p>{{username}}</p>


  <table border="1" cellspacing="2" cellpadding="8" align="left">
    <tr>
      <th>Created Date</th>
      <th>Title</th>
      <th>Description</th>

    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for task in tasks_list %}
    <tr>
        <td>{{task.date}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
    </tr>
    {% endfor %}
  </table>
  
  <br>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% endblock content %}